
body {
  font-family: "Ubuntu", sans-serif;
  /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.nav-bar {
  background: #a95682;
  color: #fff;
  height: 3rem;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav-bar a {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bolder;
  
}
a {
  outline: none;
  text-decoration: none;
  padding: 0 1rem;
}
a:visited {
  color: #ffffff;
}
.actual{
  color: black;
}

a:link {
  color: #f7f7f7;
}


a:focus {
  background: #8f496e;
}

a:hover {
  background: #773c5c;
}

a:active {
  background: #773c5c;
  color: #914d72;
}
.content {
  background-color: #eff;
  /* width: 1100px; */
  margin: auto;
}

.selectores {
  display: flex;
  flex-wrap: wrap;
  height: 2rem;
  /* justify-content: space-evenly; */
  align-content: center;
  padding: 1rem;
}
.selectores div{
  padding: 1rem;
}

.container-precios {
  padding: 1rem;
  height: 550px;
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  font-size: 22px;
}
.container-cable {
  height: 400px;

}
.container-internet {
height: 400px;

}
.container-totales {
  /* height: 400px; */
}
.recuadro {
  border-radius: 5px;
  display: flex;
  padding: auto;
  margin: 1rem 0;
  background-color: #c4c4c4;
  height: 3rem;
  position: relative;
}
.recuadro:hover{
  background-color: #b1b1b1;
}
.item {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  padding: 1em;
}
.start{
  justify-content: flex-start;

}
.stepper {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
  font-size: 1.1rem;
  background-color: #fff;
  border-radius: 10px;
  border: 2px #555 solid;
  color: #555;
  width: 80px;
  position: absolute;
  right: 0.4rem;
  height: 1.6rem;
}
.porcentaje-data{
  /* background-color: #ff19004d; */
}

.material-icons {
  font-size: 18px !important;
  /* background-color: #15ff004d; */
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  /* height: 1.8rem; */
  border-radius: 10px;
}
.cabecera {
  color: #fff;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  padding: auto;
  margin: 1rem 0;
  background-color: #c4c4c4;
  height: 3rem;
  position: relative;
  align-items: center;
  justify-content: center;
}

.cable {
  background: #5ccfe9;
}
.internet {
  background: #f47474;
}
.total {
  background: #772953;
}

.resumen {
  padding: 0 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
h4{margin: 0;}

table {
  font-size: medium;
  width: 100%;  
  border-collapse: collapse;
  overflow: hidden;
  margin-bottom: 1rem;
}
thead {
  text-transform: uppercase;
  background-color: #49a877;
  color: rgb(255, 255, 255);

}
tfoot {
  font-weight: bold;
  border: 1px solid black; 
}
td{
  text-align: center;
}
tr:nth-child(even){
  background-color: #dbffd4;
}

.active {
  background: #8f496e;
  color: #fff;
}
.active:hover {
  background-color: #798b8f;
  color: #fff;
}

.material-icons:hover {
  color: #ff0088;
}
.material-icons:active {
  color: #15ff00;
}

header{
  display: flex;
  justify-content: space-around;
}

h2{
  margin: 0 50%;
  padding: 1.3rem 0;
}


table.palpala thead {
  text-transform: uppercase;
  background-color: #e48a4e;
  color: rgb(255, 255, 255);
}

table.palpala tr:nth-child(even){
  background-color: #f3cfb7;
}

table.adicionales{
  max-width: 1000px;
  margin: auto;
}
table.adicionales tr:nth-child(even){
  background-color: #c1e8f8;
}
table.adicionales tr:hover{
  color: #000000;
  background-color: #4f534f4f;
}
table.adicionales thead {
  text-transform: uppercase;
  background-color: #52cbff;
  color: rgb(255, 255, 255);
}
table.retenciones tr:hover{
  background-color: #4f534f4f;
}

#descuentos{
  font-size: 2rem;
  color: #b92239;
}
.nuevo{
  font-weight: bold;
}
.btnssj{
  color: #fff;
  font-size: 1.01em;
  background-color: #49a877;
  border-radius: 5px 5px 0 0;
  padding: 1em;
  border: none;
  margin-left: 1em ;
  
}
.btnpalpala{
  color: #fff;
  font-size: 1.01em;
  background-color: #e48a4e;
  border-radius: 5px 5px 0 0;
  padding: 1em 1.5em;
  border: none;
}


.botonera > button{
  margin-left: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.01em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 3px;
}

.noactive{
  color: rgb(214, 214, 214);
  background-color: #6d6d6d;
}
.btnActive{
  background: #8f496e;
}

